Source: liberasme-http-cil
Section: cli-mono
Priority: extra
Maintainer: Daniel Lacroix <dlacroix@erasme.org>
Build-Depends: debhelper (>= 9), cli-common-dev (>= 0.8), monodevelop (>= 2.0), mono-dmcs
Standards-Version: 3.9.1

Package: liberasme-http1.0-cil
Architecture: all
Depends: ${cli:Depends}
Description: Library to create HTTP servers and clients
 Library to create HTTP servers and clients that supports WebSockets
